.jxbrowser-data/*
.metadata/*
dvt/*
RemoteSystemsTempFiles/*
/.metadata/
/firmware/Debug/
/firmware/.launches
/TI_RTOS/Debug
/driverlib_input_abstraction/Debug
/driverlib_input_abstraction/.launches
TI_RTOS/src/makefile.libs
